<html>
    <head>
    </head>
    <body>
      <h3>Your benefit enrollment has not been completed</h3>
      <h4>Company: <%= company.name %></h4>
      <br/>

      <div>According to our records, your benefit enrollment has not been 100% completed. Please log onto our website, and complete your benefit enrollment.</div>
      <br/>
      <div>Thank you and best regards.</div>
      <br/>
      <hr/>

      <a href="<%= mainSiteUrl %>">Visit Site</a>
    </body>
</html>